div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 'Allo, 'Allo!
    p.lead Kick-start your next web app with Angular
    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container
  .row

footer.footer
  .container
    p
      | (based on) Angular Fullstack v2.0.10
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
