div(ng-include='"components/navbar/navbar.html"')

.container
  .row
    .col-sm-12
      h1 {{ title }}
      p
        | Hello there!
      p
        | This app is a boilerplate for a basic SPA powered by
        = ' '
        a(href='https://angularjs.org/', target='_blank') Angular.js
